*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.navigation-bar{
    width: 1350px;
    margin: 0px auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo-link{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 34px;
    line-height: 51px;
}
.nav-menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.menu-link{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
}
.sidebar{
    display: none;
}
.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px;
}
.hero-content{
    width: 50%;
    background-color: #FFC700;
    padding: 182px 95px 181px 163px;
    height: 650px;
    text-align: left;
}

.hero-title{
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
}
.hero-para{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222A41;
    margin-bottom: 30px;
}
.learn-link{
    background-color: black;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    padding: 15px 43px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.hero-img{
    width: 50%;
    overflow: hidden;
    height: 650px;
}
.brand-img{
    width: 100%;
    height: 100%;
}
.challenges{
    width: 1200px;
    margin: 0px auto;
    margin-bottom: 50px;
}
.challenge-text{
    width: 1015px;
    margin: 0px auto;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: right;
    color: black;
    margin-bottom: 25px;
}
.challenge-title{
    width: 453px;
    margin-left: auto;
}
.challenge-span{
    color: #FFC700;
}
.challenges-flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.challenge-relative{
    width: 543px;
    position: relative;
}
.relative-text{
    width: 480px;
    margin-left: auto;
    background-color: black;
    color: white;
    padding: 75px 44px 75px 94px;
}
.relative-text-right{
    margin-left: 0px;
    margin-right: auto;
    padding: 75px 94px 75px 44px;
}
.challenge-absolute{
    position: absolute;
    background-color: #FFC700;
    padding: 20px 30px;
    border-radius: 50%;
}
.img-left{
    top: 50px;
    left: 0px;
}
.img-right{
    top: 50px;
    right:0px;
}
.relative-title{
    font-weight: 900;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 15px;
}
.relative-para{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.projects{
    width: 1200px;
    margin: 0px auto;
    margin-bottom: 100px;
}
.projects-text{
    width: 430px;
    font-weight: 900;
    font-size: 48px;
    line-height: 54px;
    border-bottom: 5px solid #FFC700;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.project-span, .vd-span{
    color: #FFC700;
}
.projects-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-content{
    width: 385px;
    margin-bottom: 100px;
}
.project-title{
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    color: #222A41;
    margin-bottom: 50px;
}
.project-para{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #222A41;
}
.project-img-2{
    margin-bottom: 20px;
}
.mind-set{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}
.video{
    position: relative;
}
.video-button-img{
    position: absolute;
    top: 40%;
    left: 40%;
}
.video-content{
    width: 360px;
    text-align: left;
}
.vd-title{
    font-weight: 900;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 30px;
}
.vd-ul{
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: #222A41;
    margin-bottom: 30px;
    list-style-position: inside;
}
::marker {
    color: #222A41;
    font-weight: 300;
    font-size: 10px;
}
.achievements{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 130px;
}
.achieve-flex{
    background-color: black;
    color: #FFC700;
    padding: 107px 99px;    
}
.achieve-title{
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
}
.achieve-text{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: white;
}
.flex-yellow{
    background-color: #FFC700;
    color: white;
    padding: 107px 97px;
}
.blogs{
    width: 1200px;
    margin: 0px auto;
    margin-bottom: 120px;
}
.blogs-title{
    font-weight: 900;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 70px;
}
.blogs-span{
    color: #FFC700;
}
.blog-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;    
}
.blog-img{
    margin-bottom: 28px;
}
.blog-date{
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    color: #AEB7C1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}
.blog-flex-1{
    width: 638px;
}
.blog-flex-title{
    font-weight: 900;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 26px;
}
.blog-flex-para{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #222A41;
    margin-bottom: 30px;
}
.read-more{
    width: 142px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.read-link{
    text-decoration: none;
    color: #FFC700;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
}
.right-img{
    width: 40px;
    height: 20px;
}
.blog-flex-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.blog-right{
    width: 448px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.blog-sub-title{
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    color: #AEB7C1;
    margin-bottom: 20px;
}
.blog-sub-para{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.behind{
    width: 1200px;
    margin: 0px auto;
    margin-bottom: 120px;
}
.behind-text{
    width: 475px;
    margin-left: auto;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: right;
    margin-bottom: 60px;
}
.behind-span{
    color: #FFC700;
}
.behind-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.behind-flex-1{
    width: 300px;
}
.behind-name{
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
}
.behind-title{
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #293340;
}
.behind-social{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.social-img{
    width: 16px;
    height: 16px;
}
.behind-para{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #222A41;
    margin-bottom: 80px;
}
.behind-para-1{
    margin-bottom: 30px;
}
.behind-flex-2{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 30px;
}
.designer{
    background-color: #FFC700;
    padding: 50px 0px;
}
.designer-content{
    width: 480px;
    margin: 0px auto;
    text-align: center;
}
.designer-logo{
    margin-bottom: 35px;
}
.designer-para{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 22px;
}
.designer-text{
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.designer-title{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
.clients{
    padding: 60px 0px 130px;
    background-color: rgba(0, 0, 0, 0.05);
}
.clients-logo{
    width: 930px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
.contact-us{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}
.contact-images{
    background: url("img/Secondary.png") no-repeat;
    height: 600px;
    background-size: cover;
}
.contact-content-text{
    padding: 100px 50px;
    color: white;
}
.contact-content-title{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
}
.contact-content-para{
    width: 300px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.contact{
    width: 665px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
    padding: 70px 46px 33px 82px;
    background-color: white;
}
input, textarea{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}
#name, #mail, #message{
    width: 533px;
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #222A41;
}
#name{
    margin-bottom: 70px;
    border-color: #FFC700;
}
#mail{
    margin-bottom: 70px;
}
#mail, #message{
    opacity: .5;
}
input, textarea:focus{
    outline: none;
}
#mail:focus{
    opacity: 1;
}
#message:focus{
    opacity: 1;
}
.last-section{
    background-color: black;
    padding: 129px 0px;
}
.footer-navigation{
    width: 1200px;
    margin: 0px auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-navigation-text{
    width: 435px;
}
.footer-navigation-logo{
    font-weight: 900;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 4px;
}
.footer-navigation-para{
    width: 310px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 15px;
}
.footer-navigation-mail{
    margin-bottom: 15px;
}
.footer-navigation-mail, .footer-navigation-call{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.footer-nav-menu{
    width: 705px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.ft-menu{
    width: 195px;
}
.ft-menu-title{
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}
.ft-menu-button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.ft-nav-link{
    font-weight: 400;
    font-size: 15px;
    line-height: 44px;
    text-decoration: none;
    color: white;
}
.ft-menu-address{
    margin-bottom: 15px;
}
.ft-address{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 40px;
}
.ft-social-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

@media screen and (max-width: 499px) {

    .navigation-bar{
        width: 100%;
        padding: 0px 20px;
    }
    .nav-menu-bar{
        display: none;
    }
    .sidebar{
        display: block;
    }
    .hero{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .hero-content{
        width: 100%;
        padding: 40px 20px;
        height: 100%;
    }
    .brand-img{
        width: 100%;
        height: 250px;
    }
    .hero-img{
        width: 100%;
        height: 250px;
    }
    .hero-text{
        height: 100%;
    }
    .hero-title{
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 20px;
    }
    .learn-link{
        padding: 10px 20px;
        letter-spacing: 2px;
    }
    .challenges{
        width: 100%;
        padding: 20px;
    }
    .challenges-flexbox{
        gap: 0px;
    }
    .challenge-text{
        width: 100%;
        text-align: left;
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 50px;
    }
    .challenge-title{
        width: 100%;
    }
    .challenge-relative{
        width: 100%;
        margin-bottom: 50px;
    }
    .relative-text{
        width: 100%;
    }
    .relative-title{
        font-size: 28px;
        line-height: 30px;
    }
    .relative-para{
        font-size: 12px;
        line-height: 14px;
    }
    .challenge-absolute{
        padding: 20px;
    }
    .img-left{
        top: -20px;
        left: -14px;
    }
    .img-right{
        top: -20px;
        right: -14px;
    }
    .absolute-img{
        width: 50px;
        height: 50px;
    }
    .projects{
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 50px;
    }
    .projects-text{
        width: 100%;
        font-size: 35px;
    }
    .projects-flex{
        flex-wrap: wrap;
    }
    .project-content{
        width: 100%;
        margin-bottom: 50px;
    }
    .project-img-1{
        margin-bottom: 20px;
    }
    .pj-img-1, .pj-img-2, .pj-img-3{
        width: 100%;
    }
    .mind-set{
        width: 100%;
        flex-wrap: wrap;
        padding: 0px 20px;
        margin-bottom: 50px;
    }
    .video, .vd-img{
        width: 100%;
    }
    .video{
        margin-bottom: 20px;
    }
    .play-img{
        width: 60px;
        height: 60px;
    }
    .video-content{
        width: 100%;
    }
    .vd-title{
        font-size: 28px;
        line-height: 40px;
    }
    .vd-ul{
        font-size: 12px;
    }
    .achievements{
        margin-bottom: 70px;
    }
    .achieve-flex{
        width: 100%;
        padding: 71px 95px;
    }
    .flex-yellow{
        padding: 71px 94px;
    }
    .achieve-title{
        font-size: 70px;
    }
    .achieve-text{
        font-size: 20px;
    }
    .blogs{
        width: 100%;
        padding: 0px 20px;
    }
    .blogs-title{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .blog-img{
        width: 100%;
    }
    .blog-flex-1{
        width: 100%;
        margin-bottom: 30px;
    }
    .blog-flex-title{
        font-size: 28px;
        line-height: 40px;
    }
    .blog-flex-para{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .read-more{
        width: 100%;
        justify-content: flex-start;
        gap: 20px;
    }
    .right-img{
        width: 0px;
        height: 20px;
    }
    .blog-flex-2{
        gap: 50px;
    }
    .blog-right{
        width: 100%;
        flex-wrap: wrap;
    }
    .sub-img{
        width: 100%;
    }
    .blog-sub-title{
        margin-bottom: 10px;
        font-size: 18px;
    }
    .blog-sub-para{
        font-size: 26px;
    }
    .behind{
        width: 100%;
        margin-bottom: 60px;
        padding: 0px 20px;
    }
    .behind-text{
        width: 100%;
        text-align: left;
    }
    .behind-para{
        margin-bottom: 50px;
    }
    .behind-flex-2{
        justify-content: center;
    }
    .designer{
        padding: 50px 20px;
    }
    .designer-content{
        width: 100%;
    }
    .designer-para{
        font-size: 14px;
    }
    .clients-logo{
        width: 100%;
        flex-direction: column;
        margin-bottom: 80px;
    }
    .contact-us{
        width: 100%;
        flex-direction: column;
        padding: 0px 20px;
    }
    .contact-images{
        width: 100%;
    }
    .contact-content-text{
        width: 100%;
        padding: 100px 20px;
    }
    .contact-content-para{
        width: 100%;
    }
    .contact{
        width: 100%;
        padding: 20px;
    }
    #name, #mail, #message{
        width: 100%;
    }
    .last-section{
        padding: 50px 0px;
    }
    .footer-navigation{
        width: 100%;
        flex-direction: column-reverse;
        padding: 0px 20px;
        gap: 30px;
    }
    .footer-navigation-text{
        width: 100%;
    }
    .footer-nav-menu{
        width: 100%;
        flex-wrap: wrap;
        gap: 35px;
    }
    .ft-menu{
        width: 130px;
    }
    .ft-nav-link{
        line-height: 24px;
    }
    .ft-address{
        margin-bottom: 20px;
    }
    .ft-social-img{
        width: 25px;
        height: 25px;
    }
}
